backend/Ript-Fitness-Backend/HELP.md
backend/Ript-Fitness-Backend/target/
!backend/Ript-Fitness-Backend/.mvn/wrapper/maven-wrapper.jar
!backend/Ript-Fitness-Backend/**/src/main/**/target/
!backend/Ript-Fitness-Backend/**/src/test/**/target/

### STS ###
backend/Ript-Fitness-Backend/.apt_generated
backend/Ript-Fitness-Backend/.classpath
backend/Ript-Fitness-Backend/.factorypath
backend/Ript-Fitness-Backend/.project
backend/Ript-Fitness-Backend/.settings
backend/Ript-Fitness-Backend/.springBeans
backend/Ript-Fitness-Backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Ignore Node.js modules and other build directories in frontend (if applicable)
frontend/node_modules/
frontend/dist/
frontend/build/

# If frontend is using a build system like npm or yarn
frontend/.npm/
frontend/.yarn/

#Additional frontend ignores for React Native
frontend/.expo/
frontend/npm-debug.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/*.orig.*
frontend/web-build/
frontend/%ProgramData%
# macOS
frontend/.DS_Store

frontend/expo-env.d.ts
# @end expo-cli

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Enviornment variables
.env 

# .DS_Store
.DS_Store
**/.DS_Store
*/.DS_Store
../.DS_Store

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Metro
*.metro-health-check*

# debug
*npm-debug.*
*yarn-debug.*
*yarn-error.*

# application-test/properties
backend/Ript-Fitness-Backend/src/test/resources/application-test.properties

.metadata/
node_modules
node_modules/
